footer {
  background: rgba(30, 33, 44, 1);
  padding-bottom: 25px;
  padding-top: 20px;

  .footer-contents-father {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .HLP,
    .SHOP,
    .get_in_touch,
    .download-apps {
      flex: 1;
      min-width: 200px;
      margin-bottom: 20px;

      span {
        color: rgba(255, 255, 255, 1);
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
        letter-spacing: 1px;
        text-align: left;
      }

      .help_bottom-texts,
      .shop_bottom_texts,
      .get_in_touch_contents {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          color: rgb(185, 185, 185);
          font-family: Lato;
          font-size: 16px;
          font-weight: 400;
          line-height: 25.6px;
          text-align: left;
        }
      }

      .social-media {
        display: flex;
        gap: 15px;
        margin-top: 15px;
      }
    }

    .download-apps {
      h2 {
        color: rgba(255, 255, 255, 1);
      }
      .play_and_apps {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .app_and_text,
        .playmarket_and_text {
          display: flex;
          align-items: center;
          gap: 12px;
          background: rgba(66, 69, 81, 1);
          padding: 10px;
          border-radius: 7px;
          min-width: 140px;

          img {
          }

          .ply_textsss {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 8px;
          }
        }
      }
    }
  }

  .copright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .cop_one {
      display: flex;
      align-items: center;
      gap: 8px;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 10px;

      span,
      p {
        font-family: Lato;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
      }
    }

    .cop_two {
      span {
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
